@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

// Font colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 55%);
$vdarkgray: hsl(0, 0%, 41%);

// Font family
$Alata: 'Alata',
'sans-serif';
$Josefin: 'Josefin Sans',
sans-serif;