@import '_global';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: $Alata;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
}

header {
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/desktop/image-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;

    .hero-nav {
        padding: 3em 0 7em 0;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $Josefin;

        .hero-nav__logo {
            font-family: $Alata;
        }

        .desktop__menu {
            list-style: none;
            display: flex;

            li {
                margin-right: 1.8em;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .mobile {
            display: block;
            position: fixed;
            background-color: $black;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;

            .mobile__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3em 0 11em 0;
            }

            .mobile__menu {
                list-style: none;
                padding-left: 0;
                text-transform: uppercase;
                font-size: 1.5rem;

                li {
                    margin-bottom: 1.7rem;
                    cursor: pointer;
                }
            }
        }

        #open {
            display: none;
            cursor: pointer;
        }

        #close {
            cursor: pointer;
        }

        .close {
            display: none;
        }
    }

    .hero-content {
        .hero-content__block {
            max-width: 100%;
            margin-bottom: 0;
            width: 580px;
            border: 1px solid $white;
            padding: 1em;

            h1 {
                font-size: 3.8rem;
                text-transform: uppercase;
                font-family: $Josefin;
                color: $white;
                line-height: 1.2;
            }
        }
    }

    @media (max-width: 530px) {
        .hero-content {
            .hero-content__block {
                max-width: 100%;
                border: 1px solid white;
                padding: 0.5em;

                h1 {
                    font-size: 2.8rem;
                }
            }
        }
    }

    @media (max-width: 678px) {
        .hero-nav {
            .desktop {
                display: none;
            }

            #open {
                display: block;
            }
        }
    }
}

main {
    margin: 7em 0;

    .section2 {
        margin-bottom: 10em;

        img {
            width: 690px;
            max-width: 100%;
        }

        .section2__content {
            padding: 5em;
            width: 600px;
            background: white;
            color: black;
            top: 182px;
            left: 538px;
            position: absolute;

            h2 {
                text-transform: uppercase;
                font-family: $Josefin;
                font-size: 3rem;
                margin-bottom: 0.7em;
            }

            p {
                color: $darkgray;
            }
        }

        @media (max-width: 668px) {
            .section2__content {
                padding: 3em;

                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        @media (max-width: 468px) {
            .section2__content {
                padding: 3em 0;

                h2 {
                    font-size: 2rem;
                }
            }
        }

        @media (max-width:768px) {
            .section2__content {
                position: static;
                text-align: center;
                width: 100%;

                p {
                    line-height: 1.8em;
                    font-size: 1rem;
                }
            }
        }
    }

    .section3 {
        .section3__header {
            margin-bottom: 5em;
            display: flex;
            justify-content: space-between;

            h1 {
                font-family: $Josefin;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 300;
            }

            button {
                cursor: pointer;
                background: transparent;
                padding: 0.3em 2.5em;
                border: 2px solid $black;
                text-transform: uppercase;
                font-family: $Alata;
                font-weight: 300;
                font-size: 0.8rem;
                letter-spacing: 0.3em;
                border-radius: 2px;

                &:hover {
                    background: $black;
                    color: white;
                }
            }
        }

        .section3__content {
            .row {
                .box {
                    position: relative;
                    margin-right: 1em;
                    margin-bottom: 1em;
                    height: 460px;
                    width: 100%;

                    &:last-child {
                        margin-right: 0;
                    }

                    h2 {
                        padding: 0 0.5em;
                        font-weight: 300;
                        font-size: 2rem;
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        color: $white;
                        font-family: $Josefin;
                        text-transform: uppercase;
                    }

                    &:hover {
                        cursor: pointer;

                        h2 {
                            color: $black;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            bottom: 0px;
                            left: 0px;
                            background-color: rgba(255, 255, 255, 0.6);

                        }
                    }
                }

                .box1 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-deep-earth.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box2 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-night-arcade.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box3 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-soccer-team.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box4 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-grid.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box5 {
                    background-color: pink;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-from-above.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box6 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-pocket-borealis.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box7 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-curiosity.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }

                .box8 {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                        url('../images/desktop/image-fisheye.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }
            }

        }

        @media (max-width: 668px) {
            .section3__header {
                h1 {
                    font-size: 2rem;
                }
            }
        }

        @media (max-width: 768px) {
            .section3__content {
                .row {
                    flex-wrap: wrap;

                    .box {
                        margin-right: 0;
                        margin-bottom: 1em;
                        height: 250px;

                        h2 {
                            font-size: 3rem;
                        }
                    }

                    .box1 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-deep-earth.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box2 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-night-arcade.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box3 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-soccer-team.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box4 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-grid.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box5 {
                        background-color: pink;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-from-above.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box6 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-pocket-borealis.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box7 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-curiosity.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .box8 {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
                            url('../images/mobile/image-fisheye.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }
                }
            }
        }

        @media (max-width: 920px) {
            .row {
                .box {
                    h2 {
                        font-size: 1.7rem;
                    }
                }
            }
        }

        @media (max-width: 375px) {
            .section3__header {
                button {
                    display: none;
                }
            }

            .section3__content {
                .row {
                    .box {
                        h2 {
                            font-size: 2rem;
                        }
                    }

                    .box1,
                    .box2,
                    .box3,
                    .box4,
                    .box5,
                    .box6,
                    .box7,
                    .box8 {
                        background-position-x: center;
                    }
                }
            }
        }

    }
}

footer {
    background-color: $black;
    color: $white;
    padding: 3em 0;

    .row {
        justify-content: space-between;
        padding: 0.5em 0;
    }

    .top {
        .footer-social {
            i {
                font-size: 1.5rem;
                margin-right: 0.3em;
                cursor: pointer;
            }
        }
    }

    .bottom {
        .footer-menu {
            list-style: none;
            padding-left: 0;
            display: flex;

            li {
                margin-right: 1.5em;
                cursor: pointer;
            }
        }

        p {
            color: $darkgray
        }
    }

    @media (max-width: 668px) {
        .row {
            flex-direction: column;

        }

        .top {
            align-items: center;

            img {
                width: 200px;
                margin-bottom: 1em;
            }
        }

        .bottom {
            text-align: center;

            .footer-menu {
                flex-direction: column;
                margin-bottom: 1em;

                li {
                    margin-bottom: 1em;
                }
            }
        }
    }
}