@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Alata", "sans-serif";
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  width: 100%;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/desktop/image-hero.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

header .hero-nav {
  padding: 3em 0 7em 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

header .hero-nav .hero-nav__logo {
  font-family: "Alata", "sans-serif";
}

header .hero-nav .desktop__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hero-nav .desktop__menu li {
  margin-right: 1.8em;
}

header .hero-nav .desktop__menu li:last-child {
  margin-right: 0;
}

header .hero-nav .desktop__menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

header .hero-nav .mobile {
  display: block;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

header .hero-nav .mobile .mobile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 0 11em 0;
}

header .hero-nav .mobile .mobile__menu {
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

header .hero-nav .mobile .mobile__menu li {
  margin-bottom: 1.7rem;
  cursor: pointer;
}

header .hero-nav #open {
  display: none;
  cursor: pointer;
}

header .hero-nav #close {
  cursor: pointer;
}

header .hero-nav .close {
  display: none;
}

header .hero-content .hero-content__block {
  max-width: 100%;
  margin-bottom: 0;
  width: 580px;
  border: 1px solid white;
  padding: 1em;
}

header .hero-content .hero-content__block h1 {
  font-size: 3.8rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  line-height: 1.2;
}

@media (max-width: 530px) {
  header .hero-content .hero-content__block {
    max-width: 100%;
    border: 1px solid white;
    padding: 0.5em;
  }
  header .hero-content .hero-content__block h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 678px) {
  header .hero-nav .desktop {
    display: none;
  }
  header .hero-nav #open {
    display: block;
  }
}

main {
  margin: 7em 0;
}

main .section2 {
  margin-bottom: 10em;
}

main .section2 img {
  width: 690px;
  max-width: 100%;
}

main .section2 .section2__content {
  padding: 5em;
  width: 600px;
  background: white;
  color: black;
  top: 182px;
  left: 538px;
  position: absolute;
}

main .section2 .section2__content h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  margin-bottom: 0.7em;
}

main .section2 .section2__content p {
  color: #8c8c8c;
}

@media (max-width: 668px) {
  main .section2 .section2__content {
    padding: 3em;
  }
  main .section2 .section2__content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 468px) {
  main .section2 .section2__content {
    padding: 3em 0;
  }
  main .section2 .section2__content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  main .section2 .section2__content {
    position: static;
    text-align: center;
    width: 100%;
  }
  main .section2 .section2__content p {
    line-height: 1.8em;
    font-size: 1rem;
  }
}

main .section3 .section3__header {
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section3 .section3__header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

main .section3 .section3__header button {
  cursor: pointer;
  background: transparent;
  padding: 0.3em 2.5em;
  border: 2px solid black;
  text-transform: uppercase;
  font-family: "Alata", "sans-serif";
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.3em;
  border-radius: 2px;
}

main .section3 .section3__header button:hover {
  background: black;
  color: white;
}

main .section3 .section3__content .row .box {
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 460px;
  width: 100%;
}

main .section3 .section3__content .row .box:last-child {
  margin-right: 0;
}

main .section3 .section3__content .row .box h2 {
  padding: 0 0.5em;
  font-weight: 300;
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

main .section3 .section3__content .row .box:hover {
  cursor: pointer;
}

main .section3 .section3__content .row .box:hover h2 {
  color: black;
}

main .section3 .section3__content .row .box:hover::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.6);
}

main .section3 .section3__content .row .box1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-deep-earth.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-deep-earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-night-arcade.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-night-arcade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-soccer-team.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-soccer-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-grid.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-grid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box5 {
  background-color: pink;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-from-above.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-from-above.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-pocket-borealis.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-curiosity.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-curiosity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

main .section3 .section3__content .row .box8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/desktop/image-fisheye.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/desktop/image-fisheye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media (max-width: 668px) {
  main .section3 .section3__header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  main .section3 .section3__content .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .section3 .section3__content .row .box {
    margin-right: 0;
    margin-bottom: 1em;
    height: 250px;
  }
  main .section3 .section3__content .row .box h2 {
    font-size: 3rem;
  }
  main .section3 .section3__content .row .box1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-deep-earth.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-deep-earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-night-arcade.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-night-arcade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-soccer-team.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-soccer-team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-grid.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-grid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box5 {
    background-color: pink;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-from-above.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-from-above.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box6 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-pocket-borealis.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-pocket-borealis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box7 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-curiosity.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-curiosity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  main .section3 .section3__content .row .box8 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../images/mobile/image-fisheye.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/mobile/image-fisheye.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

@media (max-width: 920px) {
  main .section3 .row .box h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 375px) {
  main .section3 .section3__header button {
    display: none;
  }
  main .section3 .section3__content .row .box h2 {
    font-size: 2rem;
  }
  main .section3 .section3__content .row .box1,
  main .section3 .section3__content .row .box2,
  main .section3 .section3__content .row .box3,
  main .section3 .section3__content .row .box4,
  main .section3 .section3__content .row .box5,
  main .section3 .section3__content .row .box6,
  main .section3 .section3__content .row .box7,
  main .section3 .section3__content .row .box8 {
    background-position-x: center;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 3em 0;
}

footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
}

footer .top .footer-social i {
  font-size: 1.5rem;
  margin-right: 0.3em;
  cursor: pointer;
}

footer .bottom .footer-menu {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .footer-menu li {
  margin-right: 1.5em;
  cursor: pointer;
}

footer .bottom p {
  color: #8c8c8c;
}

@media (max-width: 668px) {
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .top img {
    width: 200px;
    margin-bottom: 1em;
  }
  footer .bottom {
    text-align: center;
  }
  footer .bottom .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  footer .bottom .footer-menu li {
    margin-bottom: 1em;
  }
}
